<html>  
<head>
        
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
       


    </head>

<body > 


<center><h1>Liste des gooddies </h1>
	<hr>

 <br><br>
 

	
	
	<table border="1px" style="margin-left: 20px;"> 
   
        <tr style="color: blue; ">    
		
        <td>Quantité goodie</td> 
        <td>Libellé goodie</td> 
		

      

  
<tr> 

		
                        <tr>
                            <td>"{{ goodies['gourde']}}"</td>
                            <td>Gourde</td>
                        </tr>
                        
                        <tr>
                            <td>"{{ goodies['stylo']}}"</td>
                            <td>Stylo</td>
                        </tr>

                        <tr>
                            <td>"{{ goodies['support_ordi']}}"</td>
                            <td>Support_ordi</td>
                        </tr>

                        <tr>
                            <td>"{{ goodies['balle']}}"</td>
                            <td>Balle</td>
                        </tr>

                        <tr>
                            <td>"{{ goodies['support_bambou']}}"</td>
                            <td>support_bambou</td>
                        </tr>

                        <tr>
                            <td>"{{ goodies['pince']}}"</td>
                            <td>Pince</td>
                        </tr>

                        <tr>
                            <td>"{{ goodies['cache']}}"</td>
                            <td>Cache</td>
                        </tr>

  

  
</tr> 
  
</table> 
	
	<br><br>
	<button> <a href="{{ url_for('tirage')}}">Faire un tirage</a></button>
    <button> <a href="{{ url_for('raz')}}">Remise à zéro</a></button>

	
	
</body>  
</html> 